{% extends 'flight/base.html' %}
{% block title %}Flight {{flight.flight_number}}{% endblock %}

{% block body %}

    <div class="container-fluid flights-container">

        <!-- Left Flight Search -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>Status</h4>
                    <div>
                        On-Time
                    </div>
                    <h4>Number of Avalaible Seats</h4>
                    <div>
                        {{ flight.total_seats_nb }}
                    </div>
                    <br>
                    <div>
                        <a href="#" class="btn btn-success col-sm-12">
                            Book a seat
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Right Details List -->
        <div class="col-sm-8 col-md-9">

            <div class="panel panel-default">
                <div class="panel-body">

                    <h3>Details for Flight {{flight.flight_number}}</h3>
                    {% if error_message %}
                        <p><strong>{{error_message}}</strong></p>
                    {% endif %}

                    <h3>General</h3>
                    <table class="table" id="generalDetailsTable">
                        <tbody>
                            <tr>
                                <th class="col-sm-3">Aircraft</th>
                                <td class="col-sm-9">{{flight.plane}}</td>
                            </tr>
                            <tr>
                                <th class="col-sm-3">Departure Airport</th>
                                <td class="col-sm-9">{{flight.departure.airport}}</td>
                            </tr>
                            <tr>
                                <th class="col-sm-3">Departure Time</th>
                                <td class="col-sm-9">{{flight.departure.time}}</td>
                            </tr>
                            <tr>
                                <th class="col-sm-3">Arrival Airport</th>
                                <td class="col-sm-9">{{flight.arrival.airport}}</td>
                            </tr>
                            <tr>
                                <th class="col-sm-3">Expected Arrival Time</th>
                                <td class="col-sm-9">{{flight.arrival.time}}</td>
                            </tr>
                        </tbody>
                    </table>

                    {% if user.is_authenticated %}
                        <h3>Air Crew</h3>

                        <table class="table" id="crewDetailsTable">
                            <tbody>
                                <tr>
                                    <th class="col-sm-3">Captain</th>
                                    <td class="col-sm-9"><a href="{% url 'flight:employee-detail' flight.departure.pilot_1.id %}">{{flight.departure.pilot_1}}</a></td>
                                </tr>
                                <tr>
                                    <th class="col-sm-3">Copilot</th>
                                    <td class="col-sm-9"><a href="{% url 'flight:employee-detail' flight.departure.pilot_2.id %}">{{flight.departure.pilot_2}}</a></td>
                                </tr>
                                <tr>
                                    <th class="col-sm-3">Air Crew 1</th>
                                    <td class="col-sm-9"><a href="{% url 'flight:employee-detail' flight.departure.aircrew_1.id %}">{{flight.departure.aircrew_1}}</a></td>
                                </tr>
                                <tr>
                                    <th class="col-sm-3">Air Crew 2</th>
                                    <td class="col-sm-9"><a href="{% url 'flight:employee-detail' flight.departure.aircrew_2.id %}">{{flight.departure.aircrew_2}}</a</td>
                                </tr>
                            </tbody>
                        </table>

                        <h3>Passengers</h3>

                        <table class="table" id="passengersDetailsTable">
                            <tbody>
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>

        </div>

    </div>

{% endblock %}