{% extends 'flight/base.html' %}
{% block title %}{{employee}}'s Flights{% endblock %}
{% block employee_index_active %}active{% endblock %}

{% block body %}

    <div class="container-fluid flights-container">

        <!-- Left Flight Search -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body" style="text-align: center;">
                    <h4>Picture</h4>
                    <div>
                        <img src="{{ employee.picture.url }}" class="img-responsive"/>
                    </div>
                </div>
            </div>
            <form role="form" method="post" action="{% url 'flight:employee-flights' %}">
                {% csrf_token %}
                <input class="hidden" name="employee_id" value="{{employee.id}}"/>
                <button class="btn btn-primary col-sm-12">{{employee}}'s Next Flights</button>
            </form>
        </div>

        <!-- Right Details List -->
        <div class="col-sm-8 col-md-9">

            <div class="panel panel-default">
                <div class="panel-body">

                    <h3>Employee Details</h3>

                    {% if error_message %}
                        <p><strong>{{error_message}}</strong></p>
                    {% endif %}

                    <h3>General</h3>
                    <table class="table" id="generalDetailsTable">
                        <tbody>
                            <tr>
                                <th class="col-sm-3">Name</th>
                                <td class="col-sm-9">{{employee}}</td>
                            </tr>
                            <tr>
                                <th class="col-sm-3">Birthday</th>
                                <td class="col-sm-9">{{employee.dob}}</td>
                            </tr>
                            <tr>
                                <th class="col-sm-3">Address</th>
                                <td class="col-sm-9">{{employee.address}}</td>
                            </tr>
                            <tr>
                                <th class="col-sm-3">Job</th>
                                <td class="col-sm-9">{{employee.job}}</td>
                            </tr>
                            <tr>
                                <th class="col-sm-3">Current Salary</th>
                                <td class="col-sm-9">{{employee.salary}}</td>
                            </tr>
                        </tbody>
                    </table>

                    {% if employee.aircrew %}
                        <h3>Flying Information</h3>
                        <table class="table" id="generalDetailsTable">
                            <tbody>
                                <tr>
                                    <th class="col-sm-3">Total Flying Hours</th>
                                    <td class="col-sm-9">{{employee.aircrew.total_flying_hours}}</td>
                                </tr>
                                {% if employee.aircrew.pilot %}
                                    <tr>
                                        <th class="col-sm-3">Licence Number</th>
                                        <td class="col-sm-9">{{employee.aircrew.pilot.license_number}}</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    {% endif %}

                </div>
            </div>

        </div>

    </div>

{% endblock %}