{% extends 'flight/base.html' %}
{% block title %}General Management{% endblock %}
{% block other_active %}active{% endblock %}

{% block body %}

    <!-- Left Plane List -->
    <div class="col-sm-6 col-md-6">
        {% if all_planes %}

        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Planes List</h3>

                {% if error_message %}
                    <p><strong>{{error_message}}</strong></p>
                {% endif %}

                <table class="table">
                    <thead>
                        <tr>
                            <th>Registration Number</th>
                            <th>Manufacturer</th>
                            <th>Model</th>
                            <th>Nb of seats per row</th>
                            <th>Nb of rows</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for plane in all_planes %}
                        <tr>
                            <td>{{plane.registration_number}}</td>
                            <td>{{plane.manufacturer}}</td>
                            <td>{{plane.aircraft_model}}</td>
                            <td>{{plane.nb_rows_of_seats}}</td>
                            <td>{{plane.nb_col_of_seats}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
        {% endif %}
        <ul class="nav nav-pills" style="margin-bottom: 10px;">
            <li role="presentation" class="col-sm-offset-6 col-sm-6 active">
                <a href="{% url 'flight:plane-add' %}"><span class="glyphicon glyphicon-plus"></span> New Plane</a>
            </li>
        </ul>
    </div>

    <!-- Right Airport List -->
    <div class="col-sm-6 col-md-6">
        {% if all_airports %}
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Airports List</h3>

                {% if error_message %}
                    <p><strong>{{error_message}}</strong></p>
                {% endif %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Name</th>
                            <th>City</th>
                            <th>Country</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for airport in all_airports %}
                        <tr>
                            <td>{{airport.three_letters_code}}</td>
                            <td>{{airport.name}}</td>
                            <td>{{airport.city}}</td>
                            <td>{{airport.country}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
        <ul class="nav nav-pills" style="margin-bottom: 10px;">
            <li role="presentation" class="col-sm-offset-6 col-sm-6 active">
                <a href="{% url 'flight:airport-add' %}"><span class="glyphicon glyphicon-plus"></span> New Airport</a>
            </li>
        </ul>
    </div>

    <!-- Left Departures List -->
    <div class="col-sm-6 col-md-6">
    {% if all_departures %}
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Departures List</h3>

                {% if error_message %}
                    <p><strong>{{error_message}}</strong></p>
                {% endif %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Airport</th>
                            <th>Pilot 1</th>
                            <th>Pilot 2</th>
                            <th>Staff 1</th>
                            <th>Staff 2</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for departure in all_departures %}
                        <tr>
                            <td>{{departure.time}}</td>
                            <td>{{departure.airport}}</td>
                            <td>{{departure.pilot_1}}</td>
                            <td>{{departure.pilot_2}}</td>
                            <td>{{departure.aircrew_1}}</td>
                            <td>{{departure.aircrew_2}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
        {% endif %}
        <ul class="nav nav-pills" style="margin-bottom: 10px;">
            <li role="presentation" class="col-sm-offset-6 col-sm-6 active">
                <a href="{% url 'flight:departure-add' %}"><span class="glyphicon glyphicon-plus"></span> New Departure</a>
            </li>
        </ul>
    </div>

    <!-- Right Arrivals List -->
    <div class="col-sm-6 col-md-6">
        {% if all_arrivals %}
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Arrivals List</h3>

                {% if error_message %}
                    <p><strong>{{error_message}}</strong></p>
                {% endif %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Airport</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for arrival in all_arrivals %}
                        <tr>
                            <td>{{arrival.time}}</td>
                            <td>{{arrival.airport}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
        <ul class="nav nav-pills" style="margin-bottom: 10px;">
            <li role="presentation" class="col-sm-offset-6 col-sm-6 active">
                <a href="{% url 'flight:arrival-add' %}"><span class="glyphicon glyphicon-plus"></span> New Arrival</a>
            </li>
        </ul>
    </div>

{% endblock %}