body{
    background: white url('../images/background.jpg');
}

.navbar{
    border-radius: 0;
}

.navbar-brand{
    font-family: 'Satisfy';
}

.flight-index-row{
    cursor: pointer;
}

.flight-index-row:hover{
    background-color: #eeeeee;
}